/**
 * Plugin styles
 */

.ce-header {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 1.25em;
  outline: none;

  @include ce_header_global_mixin;

  p,
  div {
    padding: 0 !important;
    margin: 0 !important;
  }
}

h1.ce-header {
  @include ce_header_h1_mixin;
}

h2.ce-header {
  @include ce_header_h2_mixin;
}

h3.ce-header {
  @include ce_header_h3_mixin;
}

h4.ce-header {
  @include ce_header_h4_mixin;
}

h5.ce-header {
  @include ce_header_h5_mixin;
}

h6.ce-header {
  @include ce_header_h6_mixin;
}

/**
 * Styles for Plugin icon in Toolbar
 */

.ce-header__icon {
  @include ce_header_icon_mixin;
}

.ce-header[contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;

  @include ce_header_placeholder_mixin;
}

.ce-header[contentEditable="true"][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable="true"][data-placeholder]:empty:focus::before {
  display: none;
}
